absl-py
asttokens
astunparse
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
debugpy
decorator
exceptiongroup
executing
Flask
flatbuffers
gast
gevent
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
gunicorn
h5py
idna
ipykernel
ipython
itsdangerous
jax
jedi
Jinja2
jupyter_client
jupyter_core
keras==2.12.0
libclang
Markdown
MarkupSafe
matplotlib-inline
ml-dtypes
nest-asyncio
numpy
oauthlib
opencv-python
opt-einsum
packaging
parso
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pycparser
Pygments
python-dateutil
pyzmq
requests
requests-oauthlib
rsa
scipy
six
stack-data
tensorboard
tensorboard-data-server
tensorflow==2.12.1
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tornado
traitlets
typing_extensions
urllib3
waitress
wcwidth
Werkzeug
wrapt
zope.event
zope.interface
